
<h1>Train Details</h1>
<div>
<style>
    .bordered-table {
        border-collapse: collapse;
        width: 100%;
    }

    .bordered-table th, .bordered-table td {
        border: 1px solid #000; /* Change #000 to the color you want for the border */
        padding: 8px;
        text-align: left;
    }

    .bordered-table th {
        background-color: #f0f0f0; /* Change to the background color you want for headers */
    }
</style>
<table class="bordered-table">
  <thead>
  <tr style="border: 1px solid #000;">
    <th><strong>Train Number:</strong></th>
    <th><strong>Departure Station:</strong></th>
    <th><strong>Termination Station:</strong></th>
    <th><strong>Departure Date:</strong></th>
    <th><strong>Departure Time:</strong></th>
    <th><strong>Arrival Date:</strong></th>
    <th><strong>Arrival Time:</strong></th>
    <th><strong>Ticket Price:</strong></th>
    <th><strong>Train Capacity:</strong></th>
    <th><strong>Seats Left:</strong></th>
    <th><strong>Visit Train</strong></th>
    <!--Addmoretableheadersasneeded-->
  </tr>
  </thead>
  <tbody>
  <%= render @train %>
  </tr>
  </thead>
  </tbody>
</table>
<div>
  <br>
  <%= link_to "Edit this train", edit_train_path(@train) %> |
  <%= link_to "Back to trains", trains_path %>
  <br> <br>

  <%= button_to "Delete this train", train_path(@train), method: :delete, data: { confirm: 'Are you sure you want to delete this train?' }, class: "btn btn-danger" %>
</div>
</div>