<h1 class="text-center">Welcome to Rail Ticketing Services</h1>
<br>
<br>



  <div class="container text-center mt-5">
    <%= link_to 'Sign In', new_user_session_path, class: "btn btn-outline-secondary" %>
    <%= link_to 'Register', new_user_registration_path, class: "btn btn-outline-secondary" %>
  </div>