<%= render @review %>

<div>
  <% if current_user && current_user == @review.user %>
    <%= link_to "Edit this review", edit_review_path(@review) %>
  <% end %>
  <!--  <%#= link_to "Edit this review", url_for(controller: 'reviews', action: 'edit', train_id: @review.train.id, user_id: current_user) %> |-->
  <%= link_to "Back to reviews", reviews_path %>

</div>
